body {
	margin: 0;
	padding: 0;
	color: #fff2ee;
	font-family: Arial;
}

body > div {
	height: 100vh;
	text-align: center;
}

h1 {
	color: white;
	margin: 0;
    font-size: 300px;
}

h2 {
	margin-top: 0px;
    font-size: 90px;
    line-height: 40vh;
}

p {
	margin: 0 15%;
	font-size: 30px;
}

strong {
	color: #312017;
}

div.first {
	background: url('../icon/image.jpeg') no-repeat 0 50%;
	opacity: 0.8;
}

div.second {
	background-color: rgba(226, 130, 6, 0.94);
}