body {
	margin: 0;
	padding: 0;
	color: #fff2ee;
	font-family: Arial;
}

body > div {
	height: 100vh;
	text-align: center;
}

h1 {
	color: white;
	margin: 0;
    font-size: 300px;
}

h2 {
	margin: 0;
    font-size: 90px;
    line-height: 30vh;
}

p {
	margin: 0 15%;
	font-size: 30px;
}

ul {
    display: inline-block;
    width: 50vw;
    font-size: 25px;
    text-align: left;
    list-style: none;
}

li {
	font-size: 25px;
	padding: 5px 0;
}

ul li:before {
		 content: "\2023";
}

strong {
	color: #312017;
}

img {
	height: 50vh;
	margin: -20px;
}

div.first {
	background: url('../icon/image.jpeg') no-repeat 0 50%;
	opacity: 0.8;
}

div.second {
	background-color: rgba(226, 130, 6, 0.94);
}

div.third {
	background-color: #fff2ee;
	color: rgb(0, 112, 186)
}

.third div {
	vertical-align: 10vh;
}